.body {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS';
    background-color: beige;
}

*{
    padding: 0;
    margin: 0;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    }
    

.main-information{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
    animation: fade 1.5s ease-in-out;
    height: auto;
}

.header {
    background-image: url(./images/header.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 260px;
}

.principal-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile-image{
    width: 310px;
    height: 140px;
}

.main-title {
    color: white;
    font-size: 50px;
    margin-top:10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.main-title p:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 3px;
    color: black;
}

.main-title small:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 3px;
    color: black;
}

.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0px;
    margin-right: 150px;
    margin-top: 110px;

}

.menu li a {
    color: white;
    text-decoration: none;
    padding:20px;
    font-size: 22px;
    display: flex;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.menu li a:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 20px;
    color: black;
}

.main{
    background-color: black;
    color: white;
    margin-top: 5px;
    height: auto;
}

.languages-logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.personal-information{
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;

}

.personal-information p{
    margin-top: 60px;
}

.personal-photo{
    width: 250px;
    height: 580px;
    margin-top: 10px;
    border: solid 5px beige;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.personal-photo:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 2px;
    border-color: black;
    color: black;
}

.personal-description{
    margin-right: 200px;
    text-align: justify;
}

.projects-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-information{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 300px;
    margin-right: 300px;
    gap: 40px;
    text-align: justify;
    margin-top: 20px;
}

.projects-information div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.projects-information div p{
    font-size: 21px;
}

.projects-images{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.projects-information div a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: none;
    color:white;
    font-size: 20px;
    border: solid 2px white;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.projects-information div a:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 1px;
    color: black;
}

.contact-information{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contacts-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    border: solid 5px beige;
    width: 370px;
    border-radius: 10px;
    margin-left: 490px;
    margin-bottom: 20px;
}

.message-field{
    text-align: center;
    background-color: white;
    padding: 20px 70px;
    border: solid 5px beige;
    border-radius: 10px;
    margin-left: 20px;
}
.button-message{
    text-align: center;
    background-color:white;
    color: black;
    padding: 20px 70px;
    border: solid 5px beige;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 67px;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.button-message:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 20px 70px;
    color: black;
}


.input-field{
    display: flex;
    margin-left: 20px;
    border-style:solid;
    border-width: 1.8px;
    border-radius: 8px;
    padding: 20px 75px;
    justify-content: center;
    align-items: center;
}

.contact-img{
    width: 50px;
    height: 50px;
}

.social-networks-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    flex-direction: column;
}

.social-networks{
    display: flex;
    flex-direction: column;
    border: solid 5px beige;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-left: 20px;
    margin-top: 30px;
}

.social-networks-images a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: none;
    color:white;
    font-size: 20px;
    border: solid 2px white;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 20px;
}

.social-networks-images a:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 1px;
    color: black;
}

.footer{
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);

}

.footer-menu ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-right: 150px;

}

.footer-menu li a {
    color: white;
    text-decoration: none;
    padding:20px;
    font-size: 32px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.footer-menu li a:hover{
    background-color:rgb(243, 243, 200);
    border-radius: 10px;
    padding: 20px;
    color: black;
}

